
// Mixins
// ====================================================================
@mixin Monserat {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

@mixin transition($prop: all, $sec: 0.3s){
    transition: $prop $sec ease;
} 
