
// Varriables
// ====================================================================

// Fonts 

$fontPrimary : 'Montserrat', sans-serif;
$fontSecondary : 'Montserrat', sans-serif;

$medium : 500;
$semiBold : 600;
$bold : 700;


// Colors

$themeColorPrimary : #000000;
$themeColorSecondary : #000000;

$fontColorPrimary : #262626;
$fontColorSecondary : #c7babb;

$headerFontColor : #b9a3a4;
